:root {
    --primary-color: whitesmoke;
    --secondary-color: rgb(112, 12, 112);
    --tertiary-color: black;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}





/* MAIN HTML ELEMENT STYLING */
header {
    height: 200px;
    width: 100vw;
    padding: 20px 40px 20px 40px;
}

body {
    background-color: var(--primary-color);
    padding: 0;
    margin: 0;
    /* display: flex; */
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

header h3 {
    color: var(--tertiary-color);
    float: right;
}

/* body.correct {
    background-color: green;
}

body.wrong {
    background-color: red;
} */

/* ELEMENT BY ID STYLING */
#highScoresLink {
    color: var(--secondary-color);
    float: left;    
}

#mainContent {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
}

#secondaryContent {
    width: 100%;
    height: 100px;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
}

#quizPrimary {
    text-align: center;
    display: inline-block;
    height: 800px;
    /* max-width: 80%; */
    width: 1000px;
    padding: 20px 20px 20px 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

#quizSecondary {
    text-align: center;
}

#start-btn {
    font-size: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    height: 40px;
    width: 100px;
    padding: 5px 10px;
    outline: none;
}



/* ELEMENT BY CLASS STYLING */
.btn-grid {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    margin: 20px 0;
    justify-content: center;
}

.btn {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 10px;
    height: 40px;
    width: 100px;
    padding: 5px 10px;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.hide {
    display: none;
}





.textPrimary {
    width: 100%;
}

.textSecondary {
    width: 100%;
}