:root {
    --primary-color: whitesmoke;
    --secondary-color: rgb(112, 12, 112);
    --tertiary-color: black;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}





/* MAIN HTML ELEMENT STYLING */
header {
    width: 100%;
    padding: 20px 40px 20px 40px;
}

body {
    background-color: var(--primary-color);
}

header h3 {
    color: var(--tertiary-color);
    float: right;
}




/* ELEMENT BY ID STYLING */
#highScoresLink {
    color: var(--secondary-color);
    float: left;    
}

#mainContent {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 150px 350px 50px 350px;
}

#secondaryContent {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 350px 50px 350px;
}

#quizPrimary {
    text-align: center;
}

#quizSecondary {
    text-align: center;
}

#startBtn {
    font-size: 14px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: hidden;
}




/* ELEMENT BY CLASS STYLING */
.answerButtons {
    list-style: none;
    /* font-size: 14px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    height: 40px;
    width: 100px;
    border-radius: 10px;
    border: hidden;
    align-items: flex-start; */
}